<!-- BEGIN login -->
<div class="login login-with-news-feed">
	<!-- BEGIN news-feed -->
	<div class="news-feed">
		<div class="news-image background-login"></div>
		<div class="news-caption">
			<h4 class="caption-title"><b>Refuse</b> TDS</h4>
			<p>
				Truck down system
			</p>
		</div>
	</div>
	<!-- END news-feed -->

	<!-- BEGIN login-container -->
	<div class="login-container">
		<!-- BEGIN login-header -->
		<div class="login-header mb-30px">
			<div class="brand">
				<div class="d-flex align-items-center">

					<b>REFUSE</b>&nbsp;TDS
				</div>
				<small>Truck down system</small>
			</div>
		</div>
		<!-- END login-header -->

		<!-- BEGIN login-content -->
		<div class="login-content">
			<form #f="ngForm" (ngSubmit)="login(f)" class="fs-13px">
				<!-- Email Address Field -->
				<div class="form-floating mb-15px">
					<input type="text" class="form-control h-45px fs-13px" placeholder="User name"
						id="username" name="username" ngModel required username/>
					<label for="emailAddress" class="d-flex align-items-center fs-13px text-gray-600">User name</label>
					<div *ngIf="f.controls['username']?.invalid && f.controls['username']?.touched" class="text-danger">
						<div *ngIf="f.controls['username']?.errors?.['required']">Please enter your user name.</div>
					</div>
				</div>

				<!-- Password Field -->
				<div class="form-floating mb-15px">
					<input type="password" class="form-control h-45px fs-13px" placeholder="Password" id="password"
						name="password" ngModel required autocomplete="current-password" />
					<label for="password" class="d-flex align-items-center fs-13px text-gray-600">Password</label>
					<div *ngIf="f.controls['password']?.invalid && f.controls['password']?.touched" class="text-danger">
						<div *ngIf="f.controls['password']?.errors?.['required']">Please enter your password.</div>
					</div>
				</div>

				<!-- Error Message for Invalid Credentials -->
				<div *ngIf="invalidCredentials" class="text-danger mb-3 text-center">
					{{invalidCredentials}}
				</div>

				<!-- Submit Button -->
				<div class="mb-15px">
					<button type="submit" class="btn btn-theme d-block h-45px w-100 btn-lg fs-14px"
						[disabled]="f.invalid">
						Sign me in
					</button>
				</div>

				<div class="mb-40px pb-40px text-dark">
					Not a registered user yet? Click <a routerLink="/register" class="text-primary">here</a> to
					register.
				</div>

				<hr class="bg-gray-600 opacity-2" />
				<div class="text-gray-600 text-center mb-0">
					&copy; Houston Freightliner All Rights Reserved {{currentYear}}
				</div>
			</form>
		</div>
		<!-- END login-content -->



	</div>
	<!-- END login-container -->
</div>
<!-- END login -->